.footer-holder{
    border-top: 1px solid white;
    background-color: rgb(22, 22, 22);
    color: white;


    .privacy-holder{
        border-top: solid rgb(110, 110, 110) 1px;
        background-color: rgb(18, 18, 18);
    }
    .img-logo-holder{
        height: 150px;
        width: 80%;
        
    }
}