.slick-dots li button:before {
    font-size: 12px !important;
    color: #333;

    &:active {
        color: red;
    }
}

.slick-dots li.slick-active button:before {
    color: #ff6347 !important;
}

.slick-slide {
    cursor: grab;
}

.slick-slide:active {
    cursor: grabbing;
}

.test {
    @media (max-width: 768px) {
        height: 300px;
    }

    .t {
        @media (max-width: 768px) {
            height: 300px;
        }
    }
}

.product-container {
    position: relative;
    background-image: linear-gradient(45deg, #fc6045, #e62c0b);
    color: white;
    border-radius: 30px 10px 30px 10px;
    border: rgb(125, 125, 125) solid 1px;
    cursor: pointer;
    transition: all ease-in-out .3s;
    overflow: hidden;

    &:hover {
        transform: translateY(-8px);
        background-image: linear-gradient(45deg, #ff2600, #e62c0b);
    }

    &:hover::before {
        animation: moveLine 1.5s forwards;
    }
}

.product-container::before {
    content: ' ';
    transform: rotateZ(-50deg);
    position: absolute;
    top: 0;
    left: -30%;
    height: 100%;
    width: 2px;
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease-in-out;
    opacity: 70%;
    filter: blur(5px);
}

@keyframes moveLine {
    0% {
        transform: translateX(0px);
        transform: rotateZ(-50deg);
    }

    100% {
        transform: translateX(350px);
    }
}