nav {
    border-bottom: 1px solid rgb(220, 220, 220);
}

.navbar-holder {
    background-color: rgb(255, 255, 255);
    padding-left: 1rem;
    padding-top: .5rem;
    padding-right: 1rem;
    padding-bottom: .5rem;
    max-width: 1300px;

    .menu-item-list {
        .list-item {
            &:after {
                content: '';
                position: absolute;
                left: 0;
                bottom: -20%;
                width: 0;
                height: 2px;
                background-color: red;
                transition: width .30s ease-in-out;
            }

            &:hover::after {
                width: 100%;
            }
            
        }
    }
}