@import './variables';

nav {
    border-bottom: 1px solid rgb(220, 220, 220);
    background-color: rgb(255, 255, 255);
    opacity: 97%;
    z-index: 998;
}

.navbar-holder {
    max-width: 1200px;
    transition: all;

    .list-item {
        transition: all ease-in-out .15s;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -10%;
            width: 0;
            height: 2px;
            transition: width .30s ease-in-out;
            background-color: red;
            border-radius: 20px;
        }


        &:hover::after {
            width: 100%;
        }
    }


    .hamburger-menu {
        cursor: pointer;

        &:hover {
            .hamburger-item {
                transition: all ease-in-out .2s;
                background-color: rgb(86, 86, 86);
            }
        }

        .hamburger-item {
            height: 4px;
            width: 35px;
            background-color: black;
            border-radius: 2px;
        }

        &.open {

            .hamburger-item {
                transition: all ease-in-out .3s;

                &:first-child {
                    transform: translateY(8px) rotate(45deg);
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:last-child {
                    transform: translateY(-8px) rotate(-45deg);
                }
            }
        }

        &.close {
            .hamburger-item {
                transition: all ease-in-out .3s;

                &:first-child {
                    transform: translateY(0px) rotate(0deg);
                }

                &:nth-child(2) {
                    opacity: 100%;
                }

                &:last-child {
                    transform: translateY(0) rotate(0);
                }
            }

        }

    }

    .menu-drop-open {
        animation: openNavbarAnimation 1s 1 forwards;
        @include animation-navbar-helper;
        @include list-item-navbar-helper;
    }

    .menu-drop-close {
        animation: closeNavbarAnimation 1s forwards;
        @include animation-navbar-helper;
        @include list-item-navbar-helper;
    }
}

@keyframes openNavbarAnimation {
    from {
        top: -150%;
    }

    to {
        top: 290%;
    }
}

@keyframes closeNavbarAnimation {
    0% {
        top: 290%;
        visibility: visible;
    }

    100% {
        top: -150%;
        visibility: hidden;
    }
}