.brand-holder {
    border: 2px solid rgb(216, 216, 216);
    display: flex !important;
    justify-content: center !important;
    padding-left: 2rem !important;
    width: 90% !important;
    transition: all ease-in-out .2s;

    .brand-img {
        transition: all ease-in-out .2s;
        filter: grayscale(100%);
    }

    &:hover {
        background-color: rgb(246, 246, 246);
        border: 2px solid rgb(135, 135, 135);

        .brand-img {
            filter: none;
        }
    }
}