.circle {
    width: 20px;
    height: 20px;
    background-color: #3498db;
    border-radius: 50%;
}

.img-details-product-holder {
    border: 1px solid rgb(176, 176, 176);
    border-radius: 10px;
    overflow: hidden;
    padding: .5rem;
}