.img-header-holder {
    max-height: 400px;

    .product-header-text {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        letter-spacing: 2px;
    }
}

.shadow-card {
    transition: all ease-in-out .3s;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px 10px 10px 10px;

    &:hover {
        box-shadow: 4px 1px 8px 1px rgba(0, 0, 0, 0.55);
    }

    .product-card {
        border: 2px solid rgba(185, 185, 185, 0.527);
        border-bottom: none;
        border-radius: 10px 10px 0px 0px;

        .product-desc {
            border-top: 1px solid rgb(185, 185, 185);
            max-height: 100px;

            &::-webkit-scrollbar {
                width: 4px;
                background-color: #eeeeee;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #888;
                border-radius: 10px;
            }
        }

    }

    .product-button {
        background-color: rgb(254, 69, 69);
        font-size: 17px;
        transition: all ease-in-out .3s;
        border-radius: 0px 0px 10px 10px;

        &:hover {
            background-color: rgb(255, 27, 27);
        }
    }
}

.products-loader {
    width: 100%;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-img-loader {
    width: 100%;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

}