@import './navbar';
@import './variables';
@import './footer';
@import './mainPage';
@import './mainPageSlider';
@import './aboutUs';

body {
   background-color: white;
   margin: 0 !important;
   padding: 0 !important;
   font-family: Arial, Helvetica, sans-serif;
}

#root {
   margin: 0 !important;
   padding: 0 !important;
   width: 100%;
   max-width: 100% !important;
}