@import './navbar';
@import './variables';
@import './footer';
@import './mainPage';
@import './mainPageSlider';
@import './aboutUs';
@import './ourBrands';
@import './delivery';
@import './opinions';
@import './summary';

nav {
   border-bottom: 1px solid rgb(220, 220, 220);
   background-color: rgb(255, 255, 255);
   opacity: 97%;
   z-index: 998;
}


html {
   @media (min-width: 1950px) {
      display: flex;
      justify-content: center;
   }


}

body {
   background-color: white;
   margin: 0 !important;
   padding: 0 !important;
   font-family: Arial, Helvetica, sans-serif;
   max-width: 1950px;

}

#root {
   margin: 0 !important;
   padding: 0 !important;
   width: 100%;
   max-width: 100% !important;
}

.tests {
   width: 100%;
   background-image: url('../../assets/tloaszare2.png');
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}